.row-cen {
  flex-direction: column !important;
  align-items: center;
}

.rev {
  display: flex;
  flex-direction: row-reverse;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.row-footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

body {
  background-color: #fdf6e3;
}

a {
  color: #268bd2 !important;
}

button {
  background-color: #586e75 !important;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #268bd2 !important;
  overflow-y: hidden;
}
